{% extends "base.html" %}

{% block content %}
<h1>Alkalmazott hozzáadása</h1>

<!-- Flash üzenetek megjelenítése -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashmessages">
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="flashMessageSuccess">{{ message }}</div>
                {% elif category == 'danger' %}
                    <div class="flashMessageError">{{ message }}</div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<form method="POST">
    <div class="form">
        <label for="name" class="form-label">Név:</label>
        <input type="text" class="form-control" name="name" required><br>
        <button type="submit" class="btn btn-danger mt-2">Alkalmazott hozzáadása</button>
    </div>
</form>
<a href="{{ url_for('index') }}">Vissza</a>

<div class="row my-5">
    <div class="col"><h2>Alkalmazottak</h2></div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Azonosító</th>
                    <th scope="col">Név</th>
                    <th scope="col">Jogviszony kezdete</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                {% for item in employees %}
                    <tr>
                        <td>{{ item['id'] }}</td>
                        <td>{{ item['name'] }}</td>
                        <td>{{ item['created'] }}</td>
                        <td>
                            <form action="{{ url_for('delete_employee', employee_id=item['id']) }}" method="POST" style="display:inline;">
                                <button type="submit" onclick="return confirm('Biztosan törölni szeretné az alkalmazotta a listáról?');"><i class="fas fa-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    setTimeout(function() {
        var flashMessages = document.getElementsByClassName('flashmessages');
        if (flashMessages) {
            flashMessages[0].style.display = 'none';
        }
    }, 5000);
</script>
{% endblock %}